<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.lan.mapper.TeacherMapper">
<!--老师登陆-->
    <select id="login" resultType="teacher" parameterType="String">
        SELECT * FROM t_teacher WHERE t_account = #{t_account} and t_password = #{t_password}
    </select>
    <!-- 老师注册 -->
    <insert id="TeacherRegister" parameterType="Teacher">
  		insert into t_teacher(t_account,t_password,t_name,t_age,t_sex)
  		values(#{t_account},#{t_password},#{t_name},#{t_age},#{t_sex})
  	</insert>
    <!--根据老师账号查询老师个人信-->
    <select id="findByt_account" resultType="Teacher" parameterType="String">
        SELECT * FROM t_teacher WHERE t_account = #{t_account}
    </select>
    <!--修改老师个人信息-->
    <update id="update" parameterType="Teacher">
  		update t_teacher set t_password = #{t_password},t_name=#{t_name},t_age=#{t_age},t_sex = #{t_sex},t_school=#{t_school},t_image = #{t_image},t_phone = #{t_phone},t_workaddress = #{t_workaddress} where t_account = #{t_account}
  	</update>

    <!-- 老师图片上传 -->
    <insert id="SaveImage" parameterType="String">
  		insert into t_teacher(t_image) values(#{t_image})
  	</insert>


</mapper>